body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: #f0f2f5; margin: 0; padding: 20px; }
.container { max-width: 900px; margin: 0 auto; }


.card { background: white; padding: 1.5rem; border-radius: 12px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); margin-bottom: 1.5rem; }


.header-card {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Prevents vertical stretching */
    background: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 1.5rem;
}

.balance-section h2 { margin: 0; color: #777; font-size: 1rem; }
.balance-section h1 { margin: 5px 0 0 0; color: #333; font-size: 2.5rem; }

.logout-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px; /* Smaller padding */
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    width: auto; /* Prevents full width */
    height: fit-content;
}
.logout-btn:hover { background: #c82333; }

/* PROFILE INFO Styling */
.profile-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 2fr)); gap: 1rem; }
.profile-item label { display: block; color: #888; font-size: 0.85rem; margin: 10px; }
.profile-item span { font-weight: 600; color: #333; font-size: 1.1rem; }

/* INPUTS & BUTTONS */
h3 { margin-top: 0; color: #444; border-bottom: 2px solid #f0f2f5; padding-bottom: 10px; margin-bottom: 15px; }
input, button.action-btn { width: 100%; padding: 12px; margin: 8px 0; border: 1px solid #ddd; border-radius: 6px; box-sizing: border-box; }
.action-btn { background: #007bff; color: white; border: none; font-weight: bold; cursor: pointer; transition: background 0.2s; }
.action-btn:hover { background: #0056b3; }

/* HISTORY TABLE */
table { width: 100%; border-collapse: collapse; margin: 20px;  }
th, td { text-align: left; padding: 12px; border-bottom: 1px solid #eee; }
th { background-color: #f8f9fa; color: #666; font-size: 0.9rem; }
.badge-credit { color: #155724; background-color: #d4edda; padding: 4px 8px; border-radius: 4px; font-size: 0.85rem; font-weight: bold; }
.badge-debit { color: #721c24; background-color: #f8d7da; padding: 4px 8px; border-radius: 4px; font-size: 0.85rem; font-weight: bold; }

.hidden { display: none; }
.error { color: #dc3545; font-size: 0.9rem; margin-top: 5px; }
.success { color: #28a745; font-size: 0.9rem; margin-top: 5px; }